# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/*
!build/reports/tests/test/
!build/jacocHTML/
!build/docs/

# Ignore Markdown file used to build docs/index.html
index.md
